html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
}
.title {
  color: rgba(26, 26, 26, 0.68);
  font-size: 50px;
  padding-left: 10px;
}
.container {
  position: relative;
  width: 90%;
  height: 700px;
  margin: 20px auto;
}
.animated_title {
  position: absolute;
  top: 100px;
  left: 5.5%;
}
.menu_left {
  position: absolute;
  top: 250px;
  left: 5.5%;
  width: 15%;
}
.menu_left ul {
  width: 100px;
  height: 100%;
}
.menu_left ul li {
  height: 22px;
}
.menu_left ul a {
  position: relative;
  text-decoration: none;
  color: rgba(26, 26, 26, 0.68);
  transition: color 0.3s;
  font-size: 13px;
  display: inline-block;
  line-height: 22px;
  padding-left: 30px;
}
.menu_left ul a:before {
  position: absolute;
  top: calc(10px);
  left: 0;
  content: "";
  width: 20px;
  height: 1px;
  background: rgba(26, 26, 26, 0.68);
  transition: all 0.3s;
}
.menu_left ul a:hover {
  color: white;
}
.menu_left ul a:hover:before {
  width: 40px;
  background: white;
  left: -20px;
}
.animated_numbers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: absolute;
  top: 300px;
  left: 12%;
  height: 300px;
  z-index: -1;
  overflow: hidden;
  margin: 0 auto;
  font-family: 'Archivo Black', sans-serif;
}
.first_number,
.second_number {
  position: relative;
  top: -300px;
}
.top_number,
.middle_number,
.bottom_number {
  font-size: 300px;
  display: block;
}
.picholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.bcg {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.bcg.active {
  visibility: visible;
}
.bcg.active img {
  opacity: 0.5;
}
.bcg01 {
  background: #9f5fc1;
}
.bcg02 {
  background: #baafa3;
}
.bcg03 {
  background: #5cb4a5;
}
.bcg04 {
  background: #c53c3a;
}
.bcg05 {
  background: #0da5bf;
}
.bcg06 {
  background: #e9891b;
}
.bcg07 {
  background: #50aad8;
}
.bcg08 {
  background: #d5322b;
}
.bcg09 {
  background: #bec9ce;
}
